
div(class="row")
	div(class="col-lg-6")
		h2 Top10 Mais vistos 
		table(class="table table-striped")
			thead
				tr
					th Vinho
					th Qnt
					th %
			tbody
				tr
					td São Bras
					td 50
					td 50%
				tr
					td Padre Cicero
					td 30
					td 30%
				tr
					td Uvas Ching Ling
					td 10
					td 10%
				tr
					td Vinho Branco
					td 5
					td 5%
				tr
					td Vinha Quase Dolly
					td 5
					td 5%
		div(class="pull-right")
			a(href="#", class="btn btn-success btn-xs") Lista Completa
	div(class="col-lg-6")
		h2 Top10 Tempo de Visualização
		table(class="table table-striped")
			thead
				tr
					th Vinho
					th Tempo
					th %
			tbody
				tr
					td São Bras
					td 40m
					td 50%
				tr
					td Padre Cicero
					td 30m
					td 30%
				tr
					td Uvas Ching Ling
					td 10m
					td 10%
				tr
					td Vinho Branco
					td 5m
					td 5%
				tr
					td Vinha Quase Dolly
					td 5m
					td 5%
		div(class="pull-right")
			a(href="#", class="btn btn-success btn-xs") Lista Completa
div(class="row")
	div(class="col-lg-12")
		h2 Últimos 10 cadastrados
		table(class="table table-striped")
			thead
				tr
					th Vinho
					th Cadastro
					th Ações
			tbody
				tr
					td
						a(href="#") São Bras
					td
						div(class="progress")
							div(class="progress-bar", role="progressbar", aria-valuenow="50", aria-valuemin="0", aria-valuemax="100", style="width: 50%;")
					td
						div(class="btn-toolbar")
							button(type="button", class="btn btn-default btn-sm", title="Visualizar")
								span(class="glyphicon glyphicon-search")
									Visualizar
							button(type="button", class="btn btn-default btn-sm", title="Editar")
								span(class="glyphicon glyphicon-cog")
									Editar
							button(type="button", class="btn btn-default btn-sm", title="Deletar")
								span(class="glyphicon glyphicon-trash")
									Deletar
				tr
					td
						a(href="#") Padre Cicero
					td 
						div(class="progress")
							div(class="progress-bar", role="progressbar", aria-valuenow="30", aria-valuemin="0", aria-valuemax="100", style="width: 30%;")
					td
						div(class="btn-toolbar")
							button(type="button", class="btn btn-default btn-sm", title="Visualizar")
								span(class="glyphicon glyphicon-search")
									Visualizar
							button(type="button", class="btn btn-default btn-sm", title="Editar")
								span(class="glyphicon glyphicon-cog")
									Editar
							button(type="button", class="btn btn-default btn-sm", title="Deletar")
								span(class="glyphicon glyphicon-trash")
									Deletar
				tr
					td 
						a(href="#") Uvas Ching Ling
					td 
						div(class="progress")
							div(class="progress-bar", role="progressbar", aria-valuenow="10", aria-valuemin="0", aria-valuemax="100", style="width: 10%;")
					td
						div(class="btn-toolbar")
							button(type="button", class="btn btn-default btn-sm", title="Visualizar")
								span(class="glyphicon glyphicon-search")
									Visualizar
							button(type="button", class="btn btn-default btn-sm", title="Editar")
								span(class="glyphicon glyphicon-cog")
									Editar
							button(type="button", class="btn btn-default btn-sm", title="Deletar")
								span(class="glyphicon glyphicon-trash")
									Deletar
				tr
					td 
						a(href="#") Vinho Branco
					td 
						div(class="progress")
							div(class="progress-bar", role="progressbar", aria-valuenow="5", aria-valuemin="0", aria-valuemax="100", style="width: 5%;")
					td
						div(class="btn-toolbar")
							button(type="button", class="btn btn-default btn-sm", title="Visualizar")
								span(class="glyphicon glyphicon-search")
									Visualizar
							button(type="button", class="btn btn-default btn-sm", title="Editar")
								span(class="glyphicon glyphicon-cog")
									Editar
							button(type="button", class="btn btn-default btn-sm", title="Deletar")
								span(class="glyphicon glyphicon-trash")
									Deletar
				tr
					td 
						a(href="#") Vinha Quase Dolly
					td 
						div(class="progress")
							div(class="progress-bar", role="progressbar", aria-valuenow="5", aria-valuemin="0", aria-valuemax="100", style="width: 5%;")
					td
						div(class="btn-toolbar")
							button(type="button", class="btn btn-default btn-sm", title="Visualizar")
								span(class="glyphicon glyphicon-search")
									Visualizar
							button(type="button", class="btn btn-default btn-sm", title="Editar")
								span(class="glyphicon glyphicon-cog")
									Editar
							button(type="button", class="btn btn-default btn-sm", title="Deletar")
								span(class="glyphicon glyphicon-trash")
									Deletar
		div(class="pull-right")
			a(href="#", class="btn btn-success btn-xs") Lista Completa
