
div(class="row")
	div(class="col-lg-6")
		h2 Top10 Mais vistos 
		table(class="table table-striped")
			thead
				tr
					th Vinho
					th Qnt
					th %
			tbody
				tr
					td São Bras
					td 50
					td 50%
				tr
					td Padre Cicero
					td 30
					td 30%
				tr
					td Uvas Ching Ling
					td 10
					td 10%
				tr
					td Vinho Branco
					td 5
					td 5%
				tr
					td Vinha Quase Dolly
					td 5
					td 5%
		div(class="pull-right")
			a(href="#", class="btn btn-success btn-xs") Lista Completa
	div(class="col-lg-6")
		h2 Top10 Tempo de Visualização
		table(class="table table-striped")
			thead
				tr
					th Vinho
					th Tempo Medio
					th Total
			tbody
				tr
					td São Bras
					td 20m
					td 2:40:24h
				tr
					td Padre Cicero
					td 10m
					td 2:40:24h
				tr
					td Uvas Ching Ling
					td 4m
					td 2:40:24h
				tr
					td Vinho Branco
					td 5m
					td 2:40:24h
				tr
					td Vinha Quase Dolly
					td 5m
					td 2:40:24h
		div(class="pull-right")
			a(href="#", class="btn btn-success btn-xs") Lista Completa
div(class="row")
	div(class="col-lg-12")
		h2 Últimos 10 cadastrados
		include ../vinhos/lista