extends ../layout

block content
	div(class="row")
		h1 Vinhos
		p Lista dos vinhos cadastrados no nosso sistema.
	div(class="row")
		div(class="pull-left")
			div(class="btn-toolbar")
				a(href="#", class="btn btn-default") Novo Vinho
		
		div(class="pull-right")
			form(class="form-inline" role="form")
				div(class="form-group")
					input(type="text", class="form-control", placeholder="Digite o nome de um vinho")
	div(class="row")
		div(class="pull-right")
			ul(class="pagination pagination-sm")
				li(class="disabled")
					a(href="#") «
				li(class="active")
					a(href="#") 1
				li
					a(href="#") 2
				li
					a(href="#") 3
				li
					a(href="#") 4
				li
					a(href="#") »
	div(class="row")
		table(class="table table-striped")
			thead
				tr
					th Vinho
					th Visualizações
					th Rank
					th Média tempo/visualização
					th Cadastro
					th Ações
			tbody
				tr
					td São Bras
					td 200
					td 23
					td 15 minutos
					td
						div(class="progress")
							div(class="progress-bar", role="progressbar", aria-valuenow="50", aria-valuemin="0", aria-valuemax="100", style="width: 50%;")

					td
						div(class="btn-toolbar")
							button(type="button", class="btn btn-danger btn-sm", title="Finalizar Cadastro")
								span(class="glyphicon glyphicon-exclamation-sign")
									FinalizarCadastro
							button(type="button", class="btn btn-default btn-sm", title="Visualizar")
								span(class="glyphicon glyphicon-search")
									Visualizar
							button(type="button", class="btn btn-default btn-sm", title="Editar")
								span(class="glyphicon glyphicon-cog")
									Editar
							button(type="button", class="btn btn-default btn-sm", title="Deletar")
								span(class="glyphicon glyphicon-trash")
									Deletar
				tr
					td São Bras
					td 200
					td 23
					td 15 minutos
					td
						div(class="progress")
							div(class="progress-bar", role="progressbar", aria-valuenow="50", aria-valuemin="0", aria-valuemax="100", style="width: 50%;")
					td
						div(class="btn-toolbar")
							button(type="button", class="btn btn-danger btn-sm", title="Finalizar Cadastro")
								span(class="glyphicon glyphicon-exclamation-sign")
									FinalizarCadastro
							button(type="button", class="btn btn-default btn-sm", title="Editar")
								span(class="glyphicon glyphicon-cog")
									Editar
							button(type="button", class="btn btn-default btn-sm", title="Deletar")
								span(class="glyphicon glyphicon-trash")
									Deletar			
				tr
					td São Bras
					td 200
					td 23
					td 15 minutos
					td
						div(class="progress")
							div(class="progress-bar", role="progressbar", aria-valuenow="50", aria-valuemin="0", aria-valuemax="100", style="width: 50%;")
					td
						div(class="btn-toolbar")
							button(type="button", class="btn btn-danger btn-sm", title="Finalizar Cadastro")
								span(class="glyphicon glyphicon-exclamation-sign")
									FinalizarCadastro
							button(type="button", class="btn btn-default btn-sm", title="Editar")
								span(class="glyphicon glyphicon-cog")
									Editar
							button(type="button", class="btn btn-default btn-sm", title="Deletar")
								span(class="glyphicon glyphicon-trash")
									Deletar
	div(class="row")
		div(class="pull-right")
			ul(class="pagination pagination-sm")
				li(class="disabled")
					a(href="#") «
				li(class="active")
					a(href="#") 1
				li
					a(href="#") 2
				li
					a(href="#") 3
				li
					a(href="#") 4
				li
					a(href="#") »